<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>DiabloBoardController</servlet-name>
        <display-name>DiabloBoardController</display-name>
        <description></description>
        <servlet-class>j20220825.servlet.DiabloBoardContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiabloLoginController</servlet-name>
        <display-name>DiabloLoginController</display-name>
        <description></description>
        <servlet-class>j20220825.servlet.DiabloLoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DiabloBoardController</servlet-name>
        <url-pattern>/diablo3.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiabloLoginController</servlet-name>
        <url-pattern>/diablologin.do</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>